.list-container {
  padding: 60px 0 0 60px;
  display: flex;
  flex-direction: column;
}

.filter-sort-container {
  display: flex;
  gap: 50px;
  background-color: #FFFFFF;
  padding: 0 60px 10px 0;
}

select {
  margin: 10px 0;
  border-radius: 0;
  height: 36px;
  font-size: 16px;
  width: 200px;
  padding: 0 10px;
  border: 1px solid #102B60;
  color: #102B60;
  background: url("./images/arrow_down.svg") no-repeat right #F4F8F9;
  -webkit-appearance: none;
  background-position-x: 175px;
}

select:hover {
  cursor: pointer;
}

option {
  background-color: #fff;
}

.sort-select-container {
  display: flex;
  gap: 20px;
}

.list-item-container {
  overflow: auto;
  padding-right: 60px;
}

.divider-list {
  height: 1px;
  background-color: #D8E0E6;
  margin: 30px 0;
}

h2 {
  margin-bottom: 10px;
}

.list-item-detail-container h3 {
  color: #2E3B4E;
}

.list-item-container h4 {
  color: #2E3B4E;
}

.repo-url {
  color: #2E3B4E;
  font-size: 16px;
  font-weight: bold;
}

.list-item-header {
  display: flex;
  justify-content: space-between;
}

.forked-tag {
  background-color: #2CAD88;
  color: #FFFFFF;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
}

.unforked-tag {
  background-color: #F88111;
  color: #FFFFFF;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
}

.list-item-detail-container {
  background-color: #F4F8F9;
  margin-top: 20px;
  padding: 30px;
}

.list-item-detail-container p {
  color: #102B60;
  margin-bottom: 10px;
}

.two-columns-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 25px;
}

.loading {
  text-align: center;
  margin: 20px;
  color: #102B60;
}

/* -------------------- Responsive ------------------- */

@media screen and (max-width: 1170px) {
  .list-container {
    overflow: auto;
  }
  
  .list-container {
    padding: 40px 0 0 40px;
  }
  
  .list-item-container {
    padding-right: 40px;
  }

  .filter-sort-container {
    padding: 0 40px 10px 0;
  }
}

@media screen and (max-width: 878px) {
  .filter-sort-container {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .two-columns-layout {
    gap: 20px;
  }
}

@media screen and (max-width: 555px) {
  .sort-select-container {
    gap: 20px;
  }
  
  select {
    width: 35vw;
    background-position-x: 31vw;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .list-container {
    padding: 40px 0 0 20px;
  }

  .list-item-container {
    padding-right: 20px;
  }
  
  .list-item-detail-container {
    padding: 20px;
  }
  
  .filter-sort-container {
    padding: 0 20px 0 0;
  }
  
  .sort-select-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  
  select {
    width: 42vw;
    background-position-x: 37vw;
  }
}